/* Reset */
*{ 
        box-sizing: border-box;
        margin: 0;
        padding: 0; 
}
/* Scroll-bar hidden */
body::-webkit-scrollbar {
        display: none;
    } 
    :root{
        --font-color:rgb(235, 235, 235);
        --hover-color:rgb(129, 129, 129);
        --font-gotham:'Gotham', sans-serif; 
        --font-size-navbar:0.8rem;
        --font-weight-navbar:500;
        --font-color-black:#333;
}
html{
        scroll-behavior: smooth;
        width: 100%;
        font-family: var(--font-gotham);
}
/* ================================== First Screen ================================ */
.first-screen{
        height: 660px;
        overflow: hidden; 
        color: var(--font-color);
        background: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/d0cecbbf-1a20-4b48-b136-fb096af19515/bvlatuR/std/2880x1800/model-3-main-hero-a-desktop") center center/cover;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        font-family:var(--font-gotham);
}
.first-screen-header{
        position: absolute;
        left: 42vw;
        top: 20vh;
        font-weight: 500;
        font-size: 40px;
}
/* Tesla logo */
.logo{
        position: absolute;
        top: 22px;
        left: 30px;
        width: 8vw;
        color: rgb(255, 255, 255);
}
.menue{
        cursor: pointer;
        padding: 10px;
        font-weight: 500;
}
.mobile-menue{
        visibility: hidden;
}
.menue li{
        padding: 10px;
}
.nav-item-main,.nav-item{
        background: transparent;
        transition:all 0.3s ;
}
.nav-item-main:hover,.nav-item-right:hover {
                      background: rgb(158, 158, 158);
                      border-radius: 30px;
                      filter: blur(0);
                      opacity: 1;     
}
/* Main Navigation Bar */
.main-menue{
        display: flex;
        align-items: center;
        justify-content: center;
}
.main-menue-page ul li{
        list-style: none;
}
.right-menue{
        position: absolute;
        right: 0;
        top: 20px;
        display: flex;
}
.side-menue li{
        border-right: 3px solid rgb(255, 255, 255);
        padding: 10px;
        color: transparent;
        position: absolute;
        left: 2vw;
        bottom:40vh;
}
.order-now-first-screen{
        position: absolute;
        bottom: 24vh;
        right: 15vw;
        background-color: transparent;
        border: var(--font-color) 2px solid;
        width: 15vw;
        height: 6vh;
        font-size: 0.8rem;
        font-weight: 600;
        border-radius: 30px;
        color: var(--font-color);
        transition: all 0.5s;
}
.order-now-first-screen a{
        text-decoration: none;
        color: var(--font-color);
}
.order-now-first-screen:hover{
        background-color: var(--font-color);
        color: var(--font-color-black);
        cursor: pointer;
}
.first-screen-icons{
        position: absolute;
        display: flex;
        bottom: 15vh;
}
.speedometer-icons{
        fill: var(--font-color);
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: 7;
        left: 17vw;
        bottom: 3vh;
}
.needle{
        height: 15px;
        /* /* transform: rotate(); */
         position: absolute; 
         transform: rotate(90deg);
         left: 23px;
         bottom: 18px;
         transition: all 1s;
}
.inner-circle{
        fill: rgba(255, 255, 255, 0.194);
}
.outer-circle{
        position: absolute;
        bottom: 4vh;
}
.speed-text{
        position: absolute;
        left: 5vw;
        bottom: -10px;
        font-size: 2rem;
        font-weight: 500;
        width: 260px;
        letter-spacing: -3px;

}
.mini-text{
        font-size: 1rem;
        letter-spacing: 1px;
        /* display: inline; */
}
.range{
        position: absolute;
        left: 36vw;
        bottom: 2vh;
        font-weight: 500;
        font-size: 2rem;
        width: 160px;
}
.dual-motor{
        position: absolute;
        left: 55vw;
        bottom: 2vh;
        font-weight: 500;
        font-size: 2rem;
        width: 130px;
}
.lower-arrow{
        position: absolute;
        bottom: -90vh;
        left: 47%;
        width: 8vw;
        transform: rotate(90deg); 
        color: rgb(255, 255, 255);
        animation: animate1 1.5s infinite;
}
@keyframes animate1{
        0%{
                top: 0;
                left: 0;
        }
        50%{
                top: 30px;
                left: 0;
        }
        100%{
                top: 0;
                left: 0;
        }
}
/* ==================================Second Screen============================================ */
.second-screen{
        /* width: 100%; */
        position: relative;
        height: 100vh;
        z-index: 0;
}
.second-screen-img{
        position: absolute;
        transform: scale(0.3);
        bottom: -90vh; 
        left: -76vw;
        z-index: 1;
}
.circle1{
        z-index: 2;
        position: absolute;
        transform: scale(0.1);
        left: 24vw;
        bottom: 47vh;
}
.line1{
        z-index: 4;
        position: absolute;
        left: 35.7vw;
        bottom: 75vh;
}
.text-1{
        z-index: 4;
        position: absolute;
        left: 37vw;
        bottom: 83vh;
}
.circle2{
        z-index: 4;
        position: absolute;
        transform: scale(0.1);
        left: 26vw;
        bottom: 20vh;   
}
.line2{
        z-index: 2;
        position: absolute;
        left: 37.8vw;
        bottom: 34vh;
}
.text-2{
        z-index: 4;
        position: absolute;
        left: 37vw;
        bottom: 31vh;
}
.circle3{
        z-index: 4;
        position: absolute;
        transform: scale(0.1);
        left: 13vw;
        bottom: 28vh;   
}
.line3{
        z-index: 2;
        position: absolute;
        left: 24.8vw;
        bottom: 55vh;
}
.text-3{
        z-index: 4;
        position: absolute;
        left: 17vw;
        bottom: 71vh;
}
.second-screen-header{
        font-size: 26px;
        font-weight: 460;
}

.second-screen-text{
        z-index: 4;
        /* width: 100px; */
        position: absolute;
        left: 67vw;
        bottom: 21vh;
        width: 30%;
        line-height: 1.6rem;
}
.second-screen-text a{
        color: black;
}
.second-screen-mini-header{
        font-weight: 460;
}
.order-now{
        position: absolute;
        z-index: 4;
        bottom: 4vh;
        right: 10vw;
        background-color: transparent;
        border: var(--font-color-black) 2px solid;
        width: 15vw;
        height: 6vh;
        font-size: 0.8rem;
        font-weight: 600;
        border-radius: 30px;
        color: var(--font-color-black);
        transition: all 0.5s;
}
/* .order-now a{
        text-decoration: none;
        color: var(--font-color);
} */
.order-now:hover{
        background-color: var(--font-color-black);
        color: var(--font-color);
        cursor: pointer;
}
.plus-circle{
        z-index: 6;
        bottom: 5vh;  
        right: 5vh;  
        color: black;
} 
/* .learn-more-icon{
        z-index: 4;
        bottom: 4vh;
} */
/* ============================third screen===================================== */
.third-screen{
        /* width: 100%; */
        /* position: relative; */
        height: 100vh;
        position: relative;
}
.third-screen-img{
        width: 100%;
}
.third-screen-square{
        position: absolute;
        left: 50%;
        bottom: 0;
}
.speedometer-icons3{
        fill: var(--font-color);
        position: absolute;
        width: 50px;
        height: 50px;
        z-index: 7;
        left: 10vw;
        bottom: 18vh;
}
.needle3{
        height: 15px;
        /* /* transform: rotate(); */
         position: absolute; 
         transform: rotate(90deg);
         left: 23px;
         bottom: 19vh;
         transition: all 1s;
}
.inner-circle3{
        fill: rgba(255, 255, 255, 0.459);
        position: absolute;
        bottom: 20vh;
}
.outer-circle3{
        position: absolute;
        bottom: 20vh;
}
.speed-text3{
        position: absolute;
        left: 0;
        bottom: 50px;
        font-size: 2rem;
        font-weight: 500;
        width: 360px;
        text-align: center;
        /* letter-spacing: -3px; */
        color: var(--font-color);

}
.mini-text3{
        font-size: 15px;
        /* letter-spacing: 1px; */
        /* display: inline; */
}
.mph-item{
        position: absolute;
        left: 40vw;
        bottom: 26vh;
        font-weight: 500;
        font-size: 2rem;
        width: 300px;
        color: white;
        text-align: center;
}
.awd-item{
        position: absolute;
        left: 65vw;
        bottom: 21vh;
        font-weight: 500;
        font-size: 2rem;
        width: 300px;
        color: white;
        text-align: center;
}
.third-screen-text{
        position: absolute;
        bottom: -25vh;
        background-color: white;
        /* border: 30px solid white; */
        border-right: 90px solid white;
        padding: 30px;
        padding: 30px;
        width: 400px;
        right: 13vw;
}
.order-now-third-screen{
        position: absolute;
        z-index: 4;
        bottom: -20vh;
        left: 20vw;
        background-color: var(--font-color);
        border: var(--font-color-black) 2px solid;
        width: 15vw;
        height: 6vh;
        font-size: 0.8rem;
        font-weight: 600;
        border-radius: 30px;
        color: var(--font-color-black);
        transition: all 0.5s;
}
 .order-now-third-screen a{
        text-decoration: none;
        color: var(--font-color);
} 
.order-now-third-screen:hover{
        background-color: var(--font-color-black);
        color: var(--font-color);
        cursor: pointer;
}
.third-screen-side-text{
        position: absolute;
        bottom: -12vh;
        /* width: 160px; */
        left: 10vw;
        font-weight: 600;
        font-size: 30px;
        background-color: white;
        border: 30px solid white;
}
.mini-text-3{
        font-weight: 400;
}
.third-screen-square{
        width: 300px;
        z-index: 4;
}
@media(max-width:700px){
        .menue-mobile{
                visibility: visible;
        }
        .right-menue{
                visibility: hidden;
        }
        .main-menue{
                visibility: hidden;
        }
}
